@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.implementers {
  padding: 32px 0 16px;

  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .es-logo {
      display: flex;
      width: 540px;
      margin-top: 40px;

      img {
        padding-right: 15px;
        width: 240px;
      }
      span {
        margin: auto;
      }
    }

    img {
      margin: 0 5px;
      width: calc(50% - 32px);
      max-width: 240px;
      height: auto;
      display: block;

      @include size-tablet() {
        margin: 0 40px;
      }

      @include size-laptopS() {
        margin: 0;
        max-width: 235px;
      }

      @include size-laptop() {
        max-width: 240px;
      }
    }
  }

  &__title {
    padding-bottom: 10px;
  }

  @include size-laptopS() {
    padding: 64px 0 56px;

    &__title {
      padding-bottom: 30px;
    }
  }
}
