@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.implementers {
  padding: 32px 0 16px;

  &__logos {
    margin: 0 -32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    img {
      margin: 0 16px 16px 16px;
      width: calc(50% - 32px);
      max-width: 240px;
      display: block;
    }
  }

  &__title {
    padding-bottom: 10px;
  }

  @include size-laptop() {
    padding: 64px 0 56px;

    &__logos {
      justify-content: space-between;
    }

    &__title {
      padding-bottom: 30px;
    }
  }
}
