---
import { Accordion, AccordionItem } from "accessible-astro-components";
---

<section class="faq">
  <div class="wrapper">
    <h2 class="faq__title title">Biežāk uzdotie jautājumi</h2>

    <div class="faq__acc cc-acc">
      <Accordion>
        <AccordionItem header="Kāpēc vajag reģistrēties?">
          <div class="text-editor">
            <p>
              Lai piedalītos, nav obligāti jāveido profils, bet, ja to izveidosiet, jūs varēsiet:
            </p>
            <ol>
              <li>
                papildināt informāciju par sevi, sniedzot anonīmus demogrāfiskos datus, kas būs vērtīga papildu
                informācija runas atpazīšanas tehnoloģiju attīstīšanai;
              </li>
              <li>
                profila informācija palīdzēs uzlabot audio ierakstu datus, ko izmantos runas atpazīšanas apmācībā;
              </li>
              <li>
                salīdzināt savu veikumu ar citiem dalībniekiem visā pasaulē.
              </li>
            </ol>
          </div>
        </AccordionItem>
        <AccordionItem header="Kāda informācija būs publiski pieejama?">
          <div class="text-editor">
            <ol>
              <li>
                Publiski būs pieejams veikto ierakstu skaits un informācija par to, kādā valodā tie ierunāti.
              </li>
              <li>
                Jūs varat izvēlēties, vai lietotājvārds ir publisks vai anonīms.
              </li>
              <li>
                Jūsu iesniegtie demogrāfiskie dati (piemēram, vecums, dzimums, valoda, izlokšņu iezīmes vai akcents) nekad netiks publiskoti jūsu profilā un netiks sasaistīti ar jūsu kontu datu kopā. Atsevišķi balsu ieraksti tiks saistīti ar demogrāfiskajiem datiem, lai veiktu precīzāku analīzi. Piemēram, pētnieks var vēlēties pētīt kādas noteiktas vecuma grupas (jauniešu, senioru) valodu.
              </li>
              <li>
                Jūsu lietotājvārds un e-pasts netiks piesaistīts publicētajiem datiem.
              </li>
              <li>
                E-pasta adrese, ko izmantojat Mozilla Common Voice platformā, publiski pieejama nebūs.
              </li>
            </ol>
          </div>
        </AccordionItem>
      </Accordion>
    </div>
  </div>
</section>
