@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.faq {
  padding: 32px 0;
  background-color: $color-snow;

  &__title {
    margin-bottom: 16px;
  }

  a {
    color: $color-primary;
    text-decoration: underline;
  }

  .text-editor {
    ol {
      li {
        width: 100%;
      }
    }

    ul {
      margin-top: 0;
    }
  }

  .accordion__item .accordion__header {
    text-align: left;
  }

  @include size-laptop() {
    padding: 64px 0;

    &__title {
      margin-bottom: 32px;
    }
  }
}
