---
import { Accordion, AccordionItem } from "accessible-astro-components";
import { t } from "i18next";
---

<section class="faq">
  <div class="wrapper">
    <h2 class="faq__title title">
      {t("index.faqTitle")}
    </h2>

    <div class="faq__acc cc-acc">
      <Accordion>
        <AccordionItem header={t("index.faqQuestion1")}>
          <div class="text-editor">
            <p>
              {t("index.faqAnswer1p")}
            </p>
          </div>
        </AccordionItem>
        <AccordionItem header={t("index.faqQuestion2")}>
          <div class="text-editor">
            <ol>
              <li>
                {t("index.faqAnswer2li1")}
              </li>
              <li>
                {t("index.faqAnswer2li2")}
              </li>
              <li>
                {t("index.faqAnswer2li3")}
              </li>
              <li>
                {t("index.faqAnswer2li4")}
              </li>
              <li>
                {t("index.faqAnswer2li5")}
              </li>
            </ol>
          </div>
        </AccordionItem>
        <AccordionItem header={t("index.faqQuestion3")}>
          <div class="text-editor">
            <p>
              {t("index.faqAnswer3p1")}
            </p>
            <p>
              {t("index.faqAnswer3p2")}
            </p>
          </div>
        </AccordionItem>
        <AccordionItem header={t("index.faqQuestion4")}>
          <div class="text-editor">
            <p>
              {t("index.faqAnswer4p1")}
              <br>
              {t("index.faqAnswer4p2")} <b>Donate your voice: CV Project</b>.
              {t("index.faqAnswer4p3")} <a href="https://play.google.com/store/apps/details?id=org.commonvoice.saverio">Google Play</a>.
              <br/>
              {t("index.faqAnswer4p4")}
            </p>
            <ul>
              <li>{t("index.faqAnswer4li1")}</li>
              <li>{t("index.faqAnswer4li2")}</li>
            </ul>
            <p>
              {t("index.faqAnswer4p5")}
            </p>
          </div>
        </AccordionItem>
        <AccordionItem header={t("index.faqQuestion5")}>
          <div class="text-editor">
            <p>
              {t("index.faqAnswer5p1")}
              <a target="_blank" href="https://drive.google.com/drive/folders/1p1FefCrkwbGhYb6G2ZN5D9Ppum1w3AfI">https://drive.google.com/drive/folders/1p1FefCrkwbGhYb6G2ZN5D9Ppum1w3AfI</a>
            </p>
          </div>
        </AccordionItem>
      </Accordion>
    </div>
  </div>
</section>
