---
import { Accordion, AccordionItem } from "accessible-astro-components";
---

<section class="faq">
  <div class="wrapper">
    <h2 class="faq__title title">Biežāk uzdotie jautājumi</h2>

    <div class="faq__acc cc-acc">
      <Accordion>
        <AccordionItem header="Kāpēc vajag reģistrēties">
          <div class="text-editor">
            <p>
              Lai dotu savu ieguldījumu, nav obligāti jāveido profils, bet, ja
              to izveidosiet, varēsiet gūt šādus ieguvumus:
            </p>
            <ol>
              <li>
                Uzlabojiet savus iesniegtos datus, sniedzot anonīmus
                demogrāfiskos datus, kas padarīs tos kvalitatīvākus.
              </li>
              <li>
                Profila informācija palīdzēs uzlabot audio ierakstu datus, ko
                izmantos runas atpazīšanas precizitātes apmācībā.
              </li>
              <li>
                Sekojiet līdzi savam progresam un datiem dažādās valodās.
              </li>
              <li>
                Salīdziniet savu progresu ar citiem ieguldītājiem no visas
                pasaules.
              </li>
              <li>
                Pārskatiet savu progresu attiecībā uz personiskajiem un projekta
                mērķiem.
              </li>
              <li>
                Ja vēlaties, pievienojieties mūsu e-pasta sarakstam, lai saņemtu
                projekta jaunumus un informāciju.
              </li>
            </ol>
          </div>
        </AccordionItem>
        <AccordionItem header="Kas būs publiski pieejams?">
          <div class="text-editor">
            <p>
              Lai dotu savu ieguldījumu, nav obligāti jāveido profils, bet, ja
              to izveidosiet, varēsiet gūt šādus ieguvumus: Uzlabojiet savus
              iesniegtos datus, sniedzot anonīmus demogrāfiskos datus, kas
              padarīs tos kvalitatīvākus. Profila informācija palīdzēs uzlabot
              audio ierakstu datus, ko izmantos runas atpazīšanas precizitātes
              apmācībā. Sekojiet līdzi savam progresam un datiem dažādās
              valodās. Salīdziniet savu progresu ar citiem ieguldītājiem no
              visas pasaules. Pārskatiet savu progresu attiecībā uz
              personiskajiem un projekta mērķiem. Ja vēlaties, pievienojieties
              mūsu e-pasta sarakstam, lai saņemtu projekta jaunumus un
              informāciju.
            </p>
          </div>
        </AccordionItem>
      </Accordion>
    </div>
  </div>
</section>
