@use "reset";
@use "mixins" as *;
@use "variables" as *;
@use "../components/Header/header";
@use "../components/Hero/hero";

.wrapper {
  @include container();
}

body {
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

main {
  overflow: hidden;
}

.text-editor {
  p {
    color: $color-cave;
    font-size: 16px;
    line-height: 32px;

    & + p {
      margin-top: 16px;
    }
  }
}
