@use "reset";
@use "mixins" as *;
@use "variables" as *;
@use "../components/Header/header";
@use "../components/Footer/footer";
@use "../components/Hero/hero";
@use "../components/Future/future";

.wrapper {
  @include container();
}

body {
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

main {
  overflow: hidden;
}

.text-editor {
  p {
    color: $color-cave;
    font-size: 16px;
    line-height: 32px;

    & + p {
      margin-top: 16px;
    }
  }
}

.title {
  color: $color-primary;
  font-size: 32px;
  line-height: 40px;

  @include size-laptop() {
    font-size: 48px;
    line-height: 64px;
  }
}

.subtitle {
  color: $color-primary;
  font-size: 24px;
  line-height: 32px;

  @include size-laptop() {
    font-size: 32px;
    line-height: 40px;
  }
}
