@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.future {
  position: relative;
  margin-top: 32px;
  padding-bottom: 32px;

  &__card {
    position: relative;
    padding: 32px 48px 24px;
    background-color: $color-snow;
    border-radius: 32px;

    @include size-laptop() {
      padding-top: 48px;
    }

    & + .future__card {
      margin-top: 16px;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__subtitle {
    margin-bottom: 16px;
  }

  &__box {
    display: flex;

    svg rect {
      @include transition-fast;
    }
  }

  &__text {
    margin-right: 48px;
    flex: 1;
  }

  &__link {
    @include position-absolute;
    @include transition-fast;
    z-index: 1;
    border: 4px solid transparent;
    border-radius: 32px;

    &:hover {
      border-color: $color-primary;

      & + h3 + .future__box {
        svg rect {
          fill: $color-primary;
        }

        & + .future__out {
          opacity: 1;
        }
      }
    }
  }

  &__out {
    @include transition-fast;
    position: absolute;
    top: 26px;
    right: 26px;
    opacity: 0;
  }

  @include size-laptop() {
    margin-top: 48px;
    padding-bottom: 64px;

    &__title {
      margin-bottom: 56px;
    }

    &__subtitle {
      margin-bottom: 24px;
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;
    }

    &__card {
      & + .future__card {
        margin-top: 0;
      }
    }
  }
}
