---
import "~styles/styles.scss";
import Layout from "../layouts/Layout.astro";
import Header from "~components/Header/Header";
import Hero from "~components/Hero/Hero";
import Future from "~components/Future/Future";
import Graph from "~components/Graph/Graph";
import Faq from "~components/Faq/Faq.astro";
import Footer from "~components/Footer/Footer.astro";
import Implementers from "~components/Implementers/Implementers";
import { t, changeLanguage } from "i18next";

changeLanguage("lv");

const lvHours = await fetch('https://commonvoice.mozilla.org/api/v1/lv/clips/stats')
  .then(response => response.json())
  // item id 4 is the most recent data
  .then(data => Math.floor(data[4].total/(60*60)))
  // fallback, last known value if we did not get ant data from CommonVoice
  .catch(()=> 18);

---

<Layout title={t("global.metaTitle")} desc={t("index.metaDesc")}>
  <main>
    <Header />
    <Hero client:load />
    <Future />
    <Graph lvHours={lvHours} />
    <Faq />
    <Implementers />
    <Footer />
  </main>
</Layout>
