---
import "~styles/styles.scss";
import Layout from "../layouts/Layout.astro";
import Header from "~components/Header/Header";
import Hero from "~components/Hero/Hero";
import Future from "~components/Future/Future";
import Graph from "~components/Graph/Graph";
import Faq from "~components/Faq/Faq.astro";
import Footer from "~components/Footer/Footer";
import Implementers from "~components/Implementers/Implementers";
import { t, changeLanguage } from "i18next";

changeLanguage("lv");
---

<Layout title={t("global.metaTitle")} desc={t("index.metaDesc")}>
  <main>
    <Header />
    <Hero client:load />
    <Future />
    <Graph />
    <Faq />
    <Implementers />
    <Footer />
  </main>
</Layout>
