---
---

<footer class="footer">
  <div class="wrapper">
    <div class="footer__content">
      <img
        class="footer__logo"
        src="/assets/images/svg/LogoFooter.svg"
        width="263px"
        height="48px"
        alt="Balsu talka logo"
      />
    </div>
    <p class="footer__text">
      Balsu talkas lapa izstrādāta <a href="https://www.turn.lv/">www.turn.lv</a>
    </p>
  </div>
</footer>
