---
---

<footer class="footer">
  <div class="wrapper">
    <div class="footer__content left">
      <img
        class="footer__logo"
        src="/assets/images/svg/LogoFooter.svg"
        width="263"
        height="48"
        alt="Balsu talka logo"
      />
      <p class="footer__text">
        Balsu talkas lapa izstrādāta <a href="https://www.turn.lv/">www.turn.lv</a>
      </p>
    </div>
    <div class="footer__content right">
      <img
        class="footer__logo"
        src="/assets/images/svg/ESLogo.svg"
        width="220"
        height="48"
        alt="ES atbalsta logo"
      />
      <span class="footer__text">
        Balsu talkas organizēšanu līdzfinansē Eiropas Savienības Atveseļošanas un noturības mehānisma investīcija un valsts budžets projekta “Valodu tehnoloģiju iniciatīva” (2.3.1.1.i.0/1/22/I/CFLA/002) ietvaros.
      </span>
    </div>
  </div>
  <div class="wrapper">
    <div class="footer__text">
      Saziņai: balsutalka@lumii.lv
    </div>
  </div>
</footer>
