---
---

<footer class="footer">
  <div class="wrapper">
    <div class="footer__content">
      <img
        class="footer__logo"
        src="/assets/images/svg/LogoFooter.svg"
        width="263px"
        height="48px"
        alt="Balsu talka logo"
      />
    </div>
  </div>
</footer>

<script>
  // Find our component DOM on the page.
  const button = document.getElementById("js-current-year");
  let date = new Date().getFullYear();
  button.innerHTML = date.toString();
</script>
