---
import { t } from "i18next";
---

<footer class="footer">
  <div class="wrapper">
    <div class="footer__content left">
      <img
        class="footer__logo"
        src="/assets/images/svg/LogoFooter.svg"
        width="263"
        height="48"
        alt="Balsu talka logo"
      />
    </div>
    <div class="footer__content right">
      <p class="footer__text">
        {t("index.footerDevelopedBy")} <a href="https://www.turn.lv/">www.turn.lv</a>
      </p>
      <p class="footer__text">
        {t("index.footerContact")}
      </p>
    </div>
  </div>
</footer>
