@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.footer {
  padding: 16px 0;
  background-color: $color-primary;

  &__image {
    display: inline-block;
  }

  &__text {
    margin-top: 24px;
    color: $color-white;
    font-size: 16px;
    line-height: 24px;
  }

  @include size-laptop() {
    padding: 32px 0;

    &__text {
      margin-top: 40px;
    }
  }
}
