@use "../../styles/variables" as *;

/* Desktop view */
.footer {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 184px;
  background-color: #164460;
  flex: none;
  order: 7;
  align-self: stretch;
  flex-grow: 0;
}

.footer_logo {
  margin-top: 50px;

  margin-left: 120px;
}

.footer_text {
  margin-top: 50px;
  margin-left: 120px;
  color: #ffffff;
}

/* Mobile view */
@media only screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 390px;
    height: 158.12px;
    background-color: #164460;
    flex: none;
    order: 7;
    align-self: stretch;
    flex-grow: 0;
    color: #ffffff;
  }

  .footer_logo {
    padding-left: 16px;
    margin-left: 0;
    margin-top: 30px;
  }

  .footer_text {
    padding-left: 16px;
    margin-top: 0;
    margin-left: 0px;
    width: 170px;
    line-height: 20px;
  }
}
