@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.footer {
  padding: 16px 0;
  background-color: $color-primary;

  .wrapper {
    display: flex;
    flex-direction: column;

    @include size-laptopS() {
      flex-direction: row;
    }
  }

  &__content {
    @include size-laptopS() {
      width: 50%;
    }

    &.right {
      display: flex;
      flex-direction: column;

      .footer__text {
        margin-top: 24px;
        margin-left: 0;

        @include size-laptopS() {
          margin-top: 0;
          margin-left: 20px;
        }
      }
    }
  }

  &__image {
    display: inline-block;
  }

  &__logo {
    height: auto;
  }

  &__text {
    margin-top: 24px;
    color: $color-white;
    font-size: 16px;
    line-height: 24px;
    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }

  @include size-laptop() {
    padding: 32px 0;

    &__text {
      margin-top: 40px;
    }
  }
}
